@page
@model RazorSilicoPage.Pages.SignInModel
@{
    ViewData["Title"] = Model.PageTitle;
}
<link rel="stylesheet" href="~/css/signUp.css" asp-append-version="true" />

<section id="createAccount">
    <div class="container">
        <form method="post">
            <h1>Create Account</h1>
            <p class="text-xs">Don't you have an account? <a asp-page="/SignUp">Sign up here.</a></p>
            <div class="box">
                <div class="boxAlert">
                    <label asp-for="Form.Email"></label>
                    <span asp-validation-for="Form.Email"></span>
                </div>
                <input asp-for="Form.Email">

            </div>
            <div class="box">
                <div class="boxAlert">
                    <label asp-for="Form.Password"></label>
                    <span asp-validation-for="Form.Password"></span>
                </div>
                <input asp-for="Form.Password">

            </div>
            <div class="boxAlert">
                <div class="boxAlert">
                    <label>
                        <input asp-for="Form.Terms" type="checkbox"> Remember me
                    </label>
                    <span class="alert-error" asp-validation-for="Form.Terms"></span>
                </div>
            </div>
            <button type="submit" class="btn-theme">Sign Up</button>
        </form>
    </div>
</section>