@page
@model RazorSilicoPage.Pages.SignUpModel
@{
    ViewData["Title"] = Model.PageTitle;
    
}
<link rel="stylesheet" href="~/css/signUp.css" asp-append-version="true" />

<section id="createAccount">
    <div class="container">
        <form method="post" >
            <h1>Create Account</h1>
            <p class="text-xs">Already have an acount? <a asp-page="/SignIn">Sign in here.</a></p>
     
              <div class="box">
                  <div class="boxAlert">
                    <label asp-for="Form.FirstName"></label>
                    <span asp-validation-for="Form.FirstName"></span>
                  </div>                  
                  <input asp-for="Form.FirstName">
               
              </div>
              <div class="box">
                <div class="boxAlert">
                   <label asp-for="Form.LastName"></label>
                   <span asp-validation-for="Form.LastName"></span>
                </div>
                  <input asp-for="Form.LastName" >
                 
              </div>
        
            <div class="box">
                <div class="boxAlert">
                    <label asp-for="Form.Email"></label>
                    <span asp-validation-for="Form.Email"></span>
                </div>
                <input asp-for="Form.Email" >
             
            </div>
            <div class="box">
                 <div class="boxAlert">
                    <label asp-for="Form.Password"></label>
                     <span asp-validation-for="Form.Password"></span>
                </div>
                <input asp-for ="Form.Password">
               
            </div>
            <div class="box">
                 <div class="boxAlert">
                     <label asp-for="Form.ConfirmPassword"></label>
                     <span asp-validation-for="Form.ConfirmPassword"></span>
                </div>
                <input asp-for="Form.ConfirmPassword" >
             
            </div>
            <div class="boxAlert">
                <div class="boxAlert">
                    <label>
                        <input asp-for="Form.Terms" type="checkbox"> I agree to the <a asp-page="#">Terms</a> & <a asp-page="#">Conditions</a>
                    </label>
                    <span asp-validation-for="Form.Terms"></span>
                </div>        
             </div>
            <button type="submit" class="btn-theme">Sign Up</button>
        </form>

    </div>

</section>

