


/*------ SECTION SHOWCASE----------*/
#showcase {
    display: flex;
    flex-wrap: wrap;
     margin-bottom: 0;
}

    #showcase {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;      
        height: auto;
        width: 100%;
    }



.star1{
    position: absolute;
    right: 200px;
    top:100px;
    width:100%;
    height:auto;
}
@media (max-width: 768px) {
    .star1 {
        position: absolute;
        left: 150px;
        top:0px;
    }
}

@media (max-width: 972px) {
    .star1 {
        position: absolute;
        left: 50px;
        top: 0px;
    }
}
.star2 {
    position: absolute;
    left: 500px;
}

@media (max-width: 575px) {
    .star2 {
        position: absolute;
        left: 500px;
    }
}

@media (max-width: 768px) {
    .star2 {
        position: absolute;
        top: 0;
        left:0px;
    }
}

@media (max-width: 970px) {
    .star2 {
        position: absolute;
        top:50px;
        left: 50px;
    }
}

@media (max-width: 1200px) {
    .star2 {
        position: absolute;
        top:0px;
        left: 120px;
    }
}

.star3 {
    display:flex;
    position: absolute;
    left: 400px;
}

@media (min-width: 1200px) {
    .star3 {
        position: absolute;
        right: 0px;
    }
}
@media (max-width:768px) {
    .star3 {
        position: absolute;
        top:80px;
        left: 0px;
    }
}
}

@media (max-width:974px) {
    .star3 {
        position: absolute;
        top: 80px;
        right: 0px;
    }
}


@media (max-width:1200px) {
    .star3 {
        position: absolute;
        top: 80px;
        left: 60px;
    }
}
.star4 {
 
    position: absolute;
    left: 400px;
}

@media (min-width: 1200px) {
    .star4 {
        position: absolute;
        right: 0px;
    }
}

@media (max-width:768px) {
    .star4 {
        position: absolute;
        top: 80px;
        left: 0px;
    }
}

}

@media (max-width:974px) {
    .star4 {
        position: absolute;
        top: 30px;
        right: 200px;
    }
}

@media (max-width:1200px) {
    .star4 {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.content {
    display: block;
    justify-content: left;
    text-align: left;
    height: auto;
    padding-top: 40px;
    width: 45%;
    height: auto;
    line-height: 40px;
}

    .content a {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 40px;
    }

.ShowcaseNumbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-between;
    width: 100%;
}

.numbers {
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-image {
    position: absolute;
    width:60%;
    height:auto;
    right: -60px;
    bottom:0px;
    z-index: -1;
}


/**/
@media screen and (max-width: 1200px) {


    #showcase {
      
    }

    .background-image {
        position: relative;
        right: auto;
     
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .content {
        padding-top: 0;
        padding-bottom: 0;
        width: auto;
    }

    @media (max-width:1200px) {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
        }
    }

    .brands img {
        display: grid;
        padding-left: 90px;
        margin-top: 60px;
        margin-bottom: 0;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:580px) {
    .brands img {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}


@media (max-width:1200px) {
    #showcase {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
}


/*------ Features----------*/
/*#features {
    background-color: #eff0fc;
    padding: 80px;
}

    #features .container {
        display: block;
        text-align: center;
    }

.tool-features {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 575px) {
    .tool-features {
        grid-template-columns: repeat(1, 1fr);*/ /* Cambia a una columna */
    /*}
}

@media (min-width: 576px) {
    .tool-features {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .tool-features {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 970px) and (max-width: 1199px) {
    .tool-features {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .tool-features {
        grid-template-columns: repeat(3, 1fr);
    }
}

.box {
    margin-top: 40px;
    padding: 20px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid#d9d9d9;
    transition: background-color 0.3s;
}

    .box:hover {
        background-color: #FFFFFF;
    }*/

