

#createAccount .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

form {
    display: block;
    justify-self: center;
    align-items: center;
    padding: 40px 40px;
    border: 4px solid #6366F1;
    border-radius: 20px;
    width: 50%;
    box-shadow: 20px 20px 18px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
    form {
        width: 100%;
        padding: 30px;
    }
}

.box input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(235, 235, 235);
}

.boxAlert{
    display:flex;
    flex-direction:column;
}

.box span {
    color: red;
}

form button {
    width: 100%;
    margin-top: 20px;
}


.alert-error{
    color:red;
}