
/* ---------------------SLIDER-------------------- */
.slider {
    width: 100%;
    background-color: #090909;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    overflow: hidden;
}

@media (min-width: 992px) {
    .slider {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.slide-track {
    display: flex;
    width: calc(300px * 10 + 2vw * 10);
    animation: scroll 120s linear infinite;
}

.slide {
    flex: 0 0 80vw; /* Usamos vw para que las slides sean relativas al ancho de la ventana */
    max-width: 300px; /* Máximo ancho de 300px */
    margin-right: 2vw; /* Espaciado entre slides relativo al viewport width */
}

    .slide img {
        width: 30%; /* La imagen ocupa todo el ancho de la slide */
        height: auto; /* Ajuste automático de la altura */
        object-fit: cover; /* Ajusta la imagen sin distorsionar */
    }

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 10 - 2vw * 10)); /* Ajusta esto según el número de slides y su ancho */
    }
}

/* Media queries adicionales para manejar diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .slide {
        flex: 0 0 90vw; /* Aumentamos el ancho relativo de las slides */
        max-width: none; /* Removemos el máximo ancho */
    }

    .slide-track {
        width: calc(90vw * 10 + 2vw * 10); /* Ajustamos el ancho del track según el nuevo tamaño de las slides */
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-90vw * 10 - 2vw * 10)); /* Ajustamos según el nuevo ancho */
        }
    }
}

@media (max-width: 480px) {
    .slide {
        flex: 0 0 100vw; /* Las slides ocupan todo el ancho de la ventana */
        margin-right: 0; /* Sin espacio entre slides */
    }

    .slide-track {
        width: 1000vw; /* Ajustamos el ancho del track según el nuevo tamaño de las slides */
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-1000vw); /* Ajustamos según el nuevo ancho */
        }
    }
}

/* Media query para detener el slider a partir de 594px */
@media (max-width: 594px) {
    .slide-track {
        animation: none; /* Detenemos la animación */
        width: 100%; /* Ajustamos el ancho del track para que ocupe el 100% */
        justify-content: space-between; /* Distribuimos las slides uniformemente */
    }

    .slide {
        flex: 0 0 calc(20% - 10px); /* Ajustamos el ancho para mostrar 5 slides con un pequeño margen */
        max-width: none; /* Removemos el máximo ancho */
        margin-right: 10px; /* Añadimos un pequeño margen entre slides */
    }

        .slide:nth-last-child(1) {
            margin-right: 0; /* Sin margen derecho para el último slide */
        }
}
