<section id="showcase">
    <img class="container background-image" src="~/images/ShowcasePhoto.svg"showcase image">
    <div class="star1">
        <img src="images/star.svg" alt="a star" class="star small-star">
    </div>
    <div class="star2">
        <img src="images/StarBig.svg" alt="a star" class="star big-star">
    </div> 
    <div class="star3">
        <img src="images/star.svg" alt="a star" class="star small-star">
    </div>
    <div class="star4">
        <img src="images/star.svg" alt="a star" class="star small-star">
    </div>
 


        <div class="content">
            <h1 class="d4">FIND CLOTHES THAT MATCHES YOUR STYLE</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <a asp-page="/signup" class="btn-black" >Sign Up Now</a>
            <div class="ShowcaseNumbers">
                <div class="numbers">
                    <h1>200+</h1>
                    <p class="text-xs">International Brands</p>
                </div>
                <div class="numbers">
                    <h1>2000+</h1>
                    <p class="text-xs">Hight-Quality Products</p>
                </div>
                <div class="numbers">
                    <h1>30,000+</h1>
                    <p class="text-xs">Happy Customers</p>
                </div>
            </div>
        </div>
    

   

</section>

